{% include "header.html" %}
<div class="background" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
{% include "navbar.html" %}

    <div class="container-center text-center space-above" id="about-container">
        <h1 class="header-text">My name is Kamil</h1>
        <img class="rounded-pic" src="{{ url_for('static', filename='img/me.jpg')}}" alt="my_pic">
        <br>
        <p class="lead text-margin" >I am a self-taught python developer. On this website I uploaded some apps that I use mostly in my hobbies. Most of the images used on this site come from Pixabay. Some are photos I took myself.</p>
        <div class="row skills-l align-middle">
        <div class="col-lg-4 col-md-6 col-sm-12">
        <img class="rounded-pic about-pic" src="{{ url_for('static', filename='img/programming.jpg')}}" alt="code_img">
        </div>
            <div class="col-lg-8 col-md-6 col-sm-12">
            <p class="lead align-middle">Most of my code is uploaded to <a href="https://github.com/kamilslabosz">Github</a>. <a href="https://github.com/kamilslabosz/turtle_invaders">Here</a> and <a href="https://github.com/kamilslabosz/breakout_game">here</a> I fiddled with object-oriented programming. <a href="https://github.com/kamilslabosz/personal_website">Here</a> you can find source code of this website.</p>
            </div>
        </div>
        <div class="row skills-l">

        <div class="col-lg-8 col-md-6 col-sm-12">
        <p class="lead">In my free time I enjoy watching movies and tv shows. In addition, I am also a fan of all kinds of games, ranging from video games, through board games, to paper role-playing games.</p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
        <img class="rounded-pic about-pic" src="{{ url_for('static', filename='img/hobbies.jpg')}}" alt="hobbies_img">
        </div>
        </div>
        <p class="lead">Got a question? <a href="{{ url_for('contact_me') }}">Reach out to me!</a></p>
    </div>

{% include 'footer.html'%}
</div>