{% import "bootstrap/wtf.html" as wtf %}

{% include "header.html" %}
<div class="background" style="background-image: url({{ url_for('static', filename='img/game-collection-bg.jpg')}})"
     xmlns="http://www.w3.org/1999/html">
{% include "navbar.html" %}
<div class="row no-margin">
        <div class="col-1 col-lg-3"></div>
        <div class="col-10 col-lg-6">
            <div class="container space-above">
                <div id="collection-table">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                      {% for message in messages %}
                       <p class="lead error-text">{{ message }}</p>
                      {% endfor %}
                    {% endif %}
                  {% endwith %}

                    {% if not game_collection: %}
                       <h1 class="display-4">Nothing here... :(</h1>
                    {% endif %}

                    {% for game in game_collection: %}
                    <a href="{{url_for('bg_remove_from_collection', game_id=game.id) }}">✘ </a><a href="{{game.link}}" class="about-text oswald">{{game.game_name}}</a>
                    <div>
                        <p class="oswald small-table-text"> Owned by: </p>
                        {% for user in game.owners: %}

                            {% if current_user.name != user.name %}
                                <a class="oswald small-table-text" href="{{url_for('user_collection', user_name=user.name) }}">{{user.name}}</a><p class="oswald small-table-text">, </p>
                            {% else %}
                                <a class="oswald small-table-text" href="{{url_for('boardgames')}}">You</a><p class="oswald small-table-text">, </p>
                            {% endif %}

                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                {% if form %}
                <div class="text-center">

                {{ wtf.quick_form(form, novalidate=True) }}
                    <a class="btn btn-outline-exp btn-lg space-below" href="{{ url_for('bg_delete_collection') }}" role="button">Clear Collection</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-1 col-lg-3"></div>

    </div>

{% include 'footer.html'%}
</div>