<div class="footer text-center">
    <a class="footer-link" href="https://github.com/kamilslabosz"><i class="fa-brands fa-github footer-icon"></i></a>
    <a class="footer-link" href="https://www.linkedin.com/in/kamil-s%C5%82abosz-193634222/"><i class="fa-brands fa-linkedin footer-icon"></i></a>

    <p class="nav-font footer-font">Copyright &copy; Kamil Słabosz 2022</p>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>