{% include "header.html" %}
<div class="jumbotron text-center">
    <div class="container">
      <h1 class="display-4">Kamil's Personal Site</h1>
      <p class="lead">Check out some of the stuff I did</p>
      <hr class="my-4">
      <a class="btn btn-warning btn-lg" href="{{ url_for('root_faction_assigner') }}" role="button">Root Faction Assigner</a>
      <a class="btn btn-warning btn-lg" href="{{ url_for('todo') }}" role="button">ToDo List</a>

    </div>
</div>

{% include 'footer.html'%}


