<nav class="navbar navbar-expand-md navbar-light">
  <div class="container-fluid text-center">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link nav-font" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-font" href="{{ url_for('about') }}">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-font" href="{{ url_for('contact_me') }}">Contact</a>
        </li>
        {% if not current_user.is_authenticated: %}
          <li class="nav-item">
            <a class="nav-link nav-font" href="{{ url_for('login') }}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-font" href="{{ url_for('register') }}">Register</a>
          </li>
          {% else: %}
          <li class="nav-item">
            <a class="nav-link nav-font" href="{{ url_for('logout') }}">Log Out</a>
          </li>
          {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle nav-font" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Apps
          </a>
          <ul class="dropdown-menu nav-color" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item nav-color nav-font"  href="{{ url_for('root_faction_assigner') }}">Root Boardgame</a></li>
            <li><a class="dropdown-item nav-color nav-font" href="{{ url_for('todo') }}">Todo list</a></li>
          </ul>

        </li>

      </ul>
    </div>
  </div>
</nav>