{% import "bootstrap/wtf.html" as wtf %}

{% include "header.html" %}
<div class="background" style="background-image: url({{ url_for('static', filename='img/root-bg.jpeg')}})">
{% include "navbar.html" %}
      <div class="row no-margin">
      <div class="col-1 col-lg-2"></div>
        <div class="col-10 col-lg-8">
      <div class="container space-above">
      <div class="text-center">

      <h1 class="heading-text">Give me some info</h1>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
           <p class="lead error-text">{{ message }}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}

            <form action method="POST" class="form" novalidate>
            {{ form.csrf_token }}
            <div class="row justify-content-center">
                  <div class="col-12 col-lg-6 radio-bg">
                        {{form.players.label(class_='lead oswald')}}
                        <br>
                        <div class="row justify-content-center">
                        {% for subfield in form.players %}
                            <div class="col-2">
                                          {{subfield.label(class_='oswald bigger ')}}

                            </div>
                        {% endfor %}
                        </div>
                        <div class="row justify-content-center">
                        {% for subfield in form.players %}

                                    <div class="col-2">
                                          {{subfield(class_='form-check-input radio-btn')}}
                                    </div>
                        {% endfor %}
                        </div>
                  </div>
            </div>
            <div class="row">
                  <div class="col-12 col-lg-3">
                        <div class="row space-above-little">
                              <div class="col-12">
                                    <p class="lead">Expansions?</p>
                              </div>
                              <div class="col-12 col-lg-12 col-sm-4 space-below">
                                    {{form.riverfolk(class_='btn-check')}}
                                    {{form.riverfolk.label(class_='btn btn-outline-exp root-faction-btn')}}
                              </div>
                              <div class="col-12 col-lg-12 col-sm-4 space-below">
                                    {{form.underworld(class_='btn-check')}}
                                    {{form.underworld.label(class_='btn btn-outline-exp root-faction-btn')}}
                              </div>
                              <div class="col-12 col-lg-12 col-sm-4 space-below">
                                    {{form.marauder(class_='btn-check')}}
                                    {{form.marauder.label(class_='btn btn-outline-exp root-faction-btn')}}
                              </div>
                        </div>
                  </div>


                  <div class="col-12 col-lg-9">
                        <div class="row space-above-little">
                              <div class="col-12">
                                    <p class="lead">Exclude factions?</p>
                              </div>
                              <div class="col-6 col-md-4 col-lg-3 faction-div space-below">
                              {{form.cats(class_='btn-check')}}
                              {{form.cats.label(class_='btn btn-outline-warning root-faction-btn')}}
                              </div>
                              <div class="col-6 col-md-4 col-lg-3 faction-div space-below">
                                    {{form.birds(class_='btn-check')}}
                              {{form.birds.label(class_='btn btn-outline-warning root-faction-btn')}}
                              </div>
                              <div class="col-6 col-md-4 col-lg-3 faction-div space-below">
                                    {{form.woodland(class_='btn-check')}}
                              {{form.woodland.label(class_='btn btn-outline-warning root-faction-btn')}}
                              </div>
                              <div class="col-6 col-md-4 col-lg-3 faction-div space-below">
                                    {{form.vagabond(class_='btn-check')}}
                              {{form.vagabond.label(class_='btn btn-outline-warning root-faction-btn')}}
                              </div>
                              <div class="col-6 col-md-4 col-lg-3 faction-div hidden space-below">
                                    {{form.vagabond2(class_='btn-check')}}
                              {{form.vagabond2.label(class_='btn btn-outline-warning root-faction-btn')}}
                              </div>
                              <div class="col-6 col-md-4 col-lg-3 faction-div hidden space-below">
                              {{form.otters(class_='btn-check')}}
                              {{form.otters.label(class_='btn btn-outline-warning root-faction-btn')}}
                              </div>
                              <div class="col-6 col-md-4 col-lg-3 faction-div hidden space-below">
                                    {{form.lizards(class_='btn-check')}}
                              {{form.lizards.label(class_='btn btn-outline-warning root-faction-btn')}}
                              </div>
                              <div class="col-6 col-md-4 col-lg-3 faction-div hidden space-below">
                                    {{form.moles(class_='btn-check')}}
                              {{form.moles.label(class_='btn btn-outline-warning root-faction-btn')}}
                              </div>
                              <div class="col-6 col-md-4 col-lg-3 faction-div hidden space-below">
                                    {{form.crows(class_='btn-check')}}
                              {{form.crows.label(class_='btn btn-outline-warning root-faction-btn')}}
                              </div>
                              <div class="col-6 col-md-4 col-lg-3 faction-div hidden space-below">
                                    {{form.badgers(class_='btn-check')}}
                              {{form.badgers.label(class_='btn btn-outline-warning root-faction-btn')}}
                              </div>
                              <div class="col-6 col-md-4 col-lg-3 faction-div hidden space-below">
                                    {{form.rats(class_='btn-check')}}
                              {{form.rats.label(class_='btn btn-outline-warning root-faction-btn')}}
                              </div>
                        </div>
                  </div>
            </div>

                  {{form.submit(class_='btn btn-default')}}
            </form>

      </div>

</div>
        </div>
      <div class="col-1 col-lg-2"></div>
      </div>

<script src="{{ url_for('static', filename='js/root.js') }}"></script>

{% include 'footer.html'%}

</div>