{% import "bootstrap/wtf.html" as wtf %}

{% include "header.html" %}
<div class="background" style="background-image: url({{ url_for('static', filename='img/root-bg.jpg')}})">
{% include "navbar.html" %}

<div class="container-center">

      {% if form %}
      <div class="form-center">

          <h1 class="heading-text">Give me player names</h1>

          {{ wtf.quick_form(form, novalidate=True) }}
      </div>


       {% else %}
       <div class="text-center">
           <h1 class="heading-text">Here's the turn order:</h1>
           <ul class="root_player_ul">
           {% for player in players_dict.keys() %}
            <li class="oswald">{{ player }}: {{ players_dict[player] }}</li>
            {% endfor %}

          </ul>
          <a class="btn btn-warning btn-lg space-below" href="{{ url_for('root_faction_assigner') }}" role="button">Start from scratch</a>
          <button class="btn btn-warning btn-lg space-below" onClick="window.location.reload();">Reassign factions</button>
      </div>
      {% endif %}



</div>

{% include 'footer.html'%}
</div>