{% import "bootstrap/wtf.html" as wtf %}

{% include "header.html" %}
<div class="background" style="background-image: url({{ url_for('static', filename='img/root-bg.jpeg')}})">
{% include "navbar.html" %}
<div class="container-center" id="root-container">
      <div class="text-center">

      <h1 class="heading-text">Give me some info</h1>
      {% if need_expansion %}
      <p class="lead error-text">You need at least one expansion to play with 5+ players</p>
      {% endif %}

            <form action method="POST" class="form" novalidate>
            {{ form.csrf_token }}
            <div class="row justify-content-center">
                  <div class="col-6">
                        {{form.players.label(class_='lead oswald')}}
                        {{form.players(class_='form-select')}}
                  </div>
            </div>
            <div class="row space-above-little">
                  <div class="col-12 col-sm-4 space-below">
                        {{form.riverfolk(class_='btn-check')}}
                        {{form.riverfolk.label(class_='btn btn-outline-exp root-faction-button')}}
                  </div>
                  <div class="col-12 col-sm-4 space-below">
                        {{form.underworld(class_='btn-check')}}
                        {{form.underworld.label(class_='btn btn-outline-exp root-faction-button')}}
                  </div>
                  <div class="col-12 col-sm-4 space-below">
                        {{form.marauder(class_='btn-check')}}
                        {{form.marauder.label(class_='btn btn-outline-exp root-faction-button')}}
                  </div>
            </div>
                  {{form.submit(class_='btn btn-default')}}
            </form>
      </div>

</div>

{% include 'footer.html'%}


</div>