{% import "bootstrap/wtf.html" as wtf %}

{% include "header.html" %}
<div class="background" style="background-image: url({{ url_for('static', filename='img/root-bg.jpeg')}})">
{% include "navbar.html" %}
<div class="container-center" id="root-container">
      <div class="text-center">

      <h1 class="heading-text">Give me some info</h1>
      {% if need_expansion %}
      <p class="lead error-text">You need at least one expansion to play with 5+ players</p>
      {% endif %}

      {% if need_reach %}
      <p class="lead error-text">Not enough reach among factions</p>
      {% endif %}

            <form action method="POST" class="form" novalidate>
            {{ form.csrf_token }}
            <div class="row justify-content-center">
                  <div class="col-6">
                        {{form.players.label(class_='lead oswald')}}
                        {{form.players(class_='form-select')}}
                  </div>
            </div>
            <div class="row">
                  <div class="col-12 col-lg-3">
                        <div class="row space-above-little">
                              <div class="col-12">
                                    <p class="lead">Expansions?</p>
                              </div>
                              <div class="col-12 col-lg-12 col-sm-4  space-below">
                                    {{form.riverfolk(class_='btn-check')}}
                                    {{form.riverfolk.label(class_='btn btn-outline-exp root-faction-btn')}}
                              </div>
                              <div class="col-12 col-lg-12 col-sm-4 space-below">
                                    {{form.underworld(class_='btn-check')}}
                                    {{form.underworld.label(class_='btn btn-outline-exp root-faction-btn')}}
                              </div>
                              <div class="col-12 col-lg-12 col-sm-4 space-below">
                                    {{form.marauder(class_='btn-check')}}
                                    {{form.marauder.label(class_='btn btn-outline-exp root-faction-btn')}}
                              </div>
                        </div>
                  </div>


                  <div class="col-12 col-lg-9">
                        <div class="row space-above-little">
                              <div class="col-12">
                                    <p class="lead">Exclude factions?</p>
                              </div>
                              <div class="col-6 col-md-4 col-lg-3 space-below">
                              {{form.cats(class_='btn-check')}}
                              {{form.cats.label(class_='btn btn-outline-warning root-faction-btn')}}
                              </div>
                              <div class="col-6 col-md-4 col-lg-3 space-below">
                                    {{form.birds(class_='btn-check')}}
                              {{form.birds.label(class_='btn btn-outline-warning root-faction-btn')}}
                              </div>
                              <div class="col-6 col-md-4 col-lg-3 space-below">
                                    {{form.woodland(class_='btn-check')}}
                              {{form.woodland.label(class_='btn btn-outline-warning root-faction-btn')}}
                              </div>
                              <div class="col-6 col-md-4 col-lg-3 space-below">
                                    {{form.vagabond(class_='btn-check')}}
                              {{form.vagabond.label(class_='btn btn-outline-warning root-faction-btn')}}
                              </div>
                              <div class="col-6 col-md-4 col-lg-3 space-below">
                                    {{form.vagabond2(class_='btn-check')}}
                              {{form.vagabond2.label(class_='btn btn-outline-warning root-faction-btn')}}
                              </div>
                              <div class="col-6 col-md-4 col-lg-3 space-below">
                              {{form.otters(class_='btn-check')}}
                              {{form.otters.label(class_='btn btn-outline-warning root-faction-btn')}}
                              </div>
                              <div class="col-6 col-md-4 col-lg-3 space-below">
                                    {{form.lizards(class_='btn-check')}}
                              {{form.lizards.label(class_='btn btn-outline-warning root-faction-btn')}}
                              </div>
                              <div class="col-6 col-md-4 col-lg-3 space-below">
                                    {{form.moles(class_='btn-check')}}
                              {{form.moles.label(class_='btn btn-outline-warning root-faction-btn')}}
                              </div>
                              <div class="col-6 col-md-4 col-lg-3 space-below">
                                    {{form.crows(class_='btn-check')}}
                              {{form.crows.label(class_='btn btn-outline-warning root-faction-btn')}}
                              </div>
                              <div class="col-6 col-md-4 col-lg-3 space-below">
                                    {{form.badgers(class_='btn-check')}}
                              {{form.badgers.label(class_='btn btn-outline-warning root-faction-btn')}}
                              </div>
                              <div class="col-6 col-md-4 col-lg-3 space-below">
                                    {{form.rats(class_='btn-check')}}
                              {{form.rats.label(class_='btn btn-outline-warning root-faction-btn')}}
                              </div>
                        </div>
                  </div>
            </div>

                  {{form.submit(class_='btn btn-default')}}
            </form>

      </div>

</div>

{% include 'footer.html'%}


</div>