{% import "bootstrap/wtf.html" as wtf %}

{% include "header.html" %}
<div class="background" style="background-image: url({{ url_for('static', filename='img/game-collection-bg.jpg')}})"
     xmlns="http://www.w3.org/1999/html">
{% include "navbar.html" %}
<div class="row no-margin">
        <div class="col-1 col-lg-3"></div>
        <div class="col-10 col-lg-6">
            <div class="container space-above">
                <div id="collection-table">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                      {% for message in messages %}
                       <p class="lead error-text">{{ message }}</p>
                      {% endfor %}
                    {% endif %}
                  {% endwith %}

                    {% for user in all_users: %}
                      {% if current_user.id == 1 %}
                        <a href="{{url_for('delete_user', user_id=user.id) }}">✘ </a>
                      {% endif %}
                        <a class="about-text oswald" href="{{url_for('user_collection', user_name=user.name) }}">{{user.name}}</a>
                        <br>
                    {% endfor %}

                </div>
                {% if form %}
                <div class="text-center">

                {{ wtf.quick_form(form, novalidate=True) }}
                    <a class="btn btn-outline-exp btn-lg space-below" href="{{ url_for('bg_delete_collection') }}" role="button">Clear Collection</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-1 col-lg-3"></div>

    </div>

{% include 'footer.html' %}

{%include 'scripts.html'%}

</body>
</div>